In [1]:
import pandas as pd
df = pd.read_csv('spam.csv')

In [2]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [4]:
df['spam'] = df['Category'].apply(lambda x: 1 if x=='span' else 0)

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message, df.spam, test_size=0.2, random_state=7)

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [7]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [8]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 0], dtype=int64)

In [10]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

1.0

In [11]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [12]:
clf.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('vectorizer',
                 CountVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('nb',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [13]:
clf.score(X_test, y_test)

1.0

In [15]:
from sklearn.datasets import load_wine
lw = load_wine()
dir(lw)

['DESCR', 'data', 'feature_names', 'target', 'target_names']

In [20]:
df = pd.DataFrame(lw.data, columns=lw.feature_names)
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [22]:
df['Categories'] = lw.target

In [23]:
df.groupby('Categories').describe()

           alcohol                                                             \
             count       mean       std    min     25%     50%     75%    max
Categories
0             59.0  13.744746  0.462125  12.85  13.400  13.750  14.100  14.83
1             71.0  12.278732  0.537964  11.03  11.915  12.290  12.515  13.86
2             48.0  13.153750  0.530241  12.20  12.805  13.165  13.505  14.34

           malic_acid            ... od280/od315_of_diluted_wines        \
                count      mean  ...                          75%   max
Categories                       ...
0                59.0  2.010678  ...                         3.42  4.00
1                71.0  1.932676  ...                         3.16  3.69
2                48.0  3.333750  ...                         1.82  2.47

           proline                                                         \
             count         mean         std    min    25%     50%     75%
Categories
0             59.0  1115.711864  221.520767  680.0  987.5  1095.0  1280.0
1             71.0   519.507042  157.211220  278.0  406.5   495.0   625.0
2             48.0   629.895833  115.097043  415.0  545.0   627.5   695.0


               max
Categories
0           1680.0
1            985.0
2            880.0

[3 rows x 104 columns]

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop('Categories', axis=1), df.Categories, test_size=0.2, random_state=7)

In [26]:
from sklearn.naive_bayes import MultinomialNB, GaussianNB
multi = MultinomialNB()
gaus = GaussianNB()

In [27]:
multi.fit(X_train, y_train)
gaus.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [28]:
multi.score(X_test, y_test)

0.9444444444444444

In [29]:
gaus.score(X_test, y_test)

1.0